<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}">
    <title>Lista de Produtos</title>

</head>
<body>
<main class="conteiner">
    <div class="container">

        <h3>Lista de Pessoa Juridicas</h3>

        <form th:action="@{/pessoaJuridica/buscar}" method="post" class="d-flex" role="search">
            <input class="form-control me-2" th:name="nomebusca" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <table class="table" border="1" style="border-collapse: collapse">
            <thead>

            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Nome</th>
                <th class="text-center">Telefone</th>
                <th class="text-center">Cpf</th>
                <th colspan="2" class="text-center">Ações</th>
            </tr>
            </thead>
            <tr th:each="pessoajuridica : ${pessoaJuridica}">
                <td th:text="${pessoajuridica.id}" class="text-center"> </td>
                <td th:text="${pessoajuridica.nome}" class="text-center"> </td>
                <td th:text="${pessoajuridica.telefone}" class="text-center"> </td>
                <td th:text="${pessoajuridica.cnpj}" class="text-center"> </td>
                <td class="text-center"><a th:href="@{/pessoaJuridica/edit/{id}(id=${pessoajuridica.getId()})}" class="btn btn-primary">Editar</a></td>
                <td class="text-center"> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                        th:href="@{/pessoaJuridica/remove/{id}(id=${pessoajuridica.getId()})}" class="btn btn-primary">Excluir</a> </td>
            </tr>


        </table>
        <div class="div-button">
            <button class="btn btn-primary"><a href="/pessoaJuridica/form" style="text-decoration: none; color: #ffffff;border: none">Adicionar pessoa Juridica</a></button>
        </div>
    </div>
</main>
</body>
</html>
