<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}">
    <title>Lista de Produtos</title>

</head>
<body>
<main class="conteiner">
    <div class="container">
        <h3>Lista de Pessoa Fisicas</h3>

        <form th:action="@{/pessoaFisica/buscar}" method="post" class="d-flex" role="search">
            <input class="form-control me-2" th:name="nomebusca" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <table class="table" border="1" style="border-collapse: collapse">
            <thead>

            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Nome</th>
                <th class="text-center">Telefone</th>
                <th class="text-center">Cpf</th>
                <th colspan="2" class="text-center">Ações</th>
            </tr>
            </thead>
            <tr th:each="pessoafisica : ${pessoaFisica}">
                <td th:text="${pessoafisica.id}" class="text-center"> </td>
                <td th:text="${pessoafisica.nome}" class="text-center"> </td>
                <td th:text="${pessoafisica.telefone}" class="text-center"> </td>
                <td th:text="${pessoafisica.cpf}" class="text-center"> </td>
                <td class="text-center"><a th:href="@{/pessoaFisica/edit/{id}(id=${pessoafisica.id})}" class="btn btn-primary">Editar</a></td>
                <td class="text-center"> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                        th:href="@{/pessoaFisica/remove/{id}(id=${pessoafisica.id})}" class="btn btn-primary">Excluir</a> </td>
            </tr>

        </table>
        <div class="div-button">
            <button class="btn btn-primary"><a href="/pessoaFisica/form" style="text-decoration: none; color:#ffffff; border: none" class="btn btn-primary">Adicionar pessoa Fisica</a></button>
        </div>
    </div>

</main>

</body>
</html>
