<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Inserir Produtos ao Carrinho</title>

</head>
<body>
<main class="container mt-5">
    <div class="container">
        <h3 class="text-center mb-4">Lista de Itens no Carrinho</h3>

        <div class="text-center mb-4">
            <form th:action="@{/vendas/save}" method="post">
                <button type="submit" class="btn btn-primary px-4">Finalizar compra</button>
            </form>
        </div>

        <div class="container">

            <table class="table table-bordered table-hover text-center">
                <thead class="table-primary">
                <tr>
                    <th>Index</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th>Valor Total</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, iterStat : ${session.venda.itemVendas}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${item.getProduto().getDescricao()}"></td>
                    <td th:text="${item.getQuantidade()}"></td>
                    <td th:text="${item.getProduto().getValor()}"></td>
                    <td th:text="${item.getTotal()}"></td>
                    <td>
                        <a th:href="@{/vendas/session/remove/{index}(index=${session.venda.itemVendas.indexOf(item)})}"
                           class="btn btn-danger">Remover</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="text-end mt-4">
                <span class="fw-bold me-2">Valor Final:</span>
                <span th:text="${session.venda.getTotalFinal()}"></span>
            </div>

        </div>
    </div>
</main>

</body>
</html>
