<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Lista de Vendas</title>

</head>
<body>
<main class="container mt-5">
    <div class="container">

        <form th:action="@{/vendas/buscar}" method="post" class="row g-3 mb-4" role="search">
            <div class="col-md-5">
                <input class="form-control" th:name="nomebusca" type="text" placeholder="Buscar por nome..." aria-label="Search">
            </div>
            <div class="col-md-5">
                <input class="form-control" th:name="databusca" type="date" aria-label="Search" required>
            </div>
            <div class="col-md-2 d-grid">
                <button class="btn btn-success" type="submit">Buscar</button>
            </div>
        </form>

        <h3 class="mb-4">Lista de Compras do Sistema</h3>

        <table class="table table-bordered table-hover text-center">
            <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Valor Total</th>
                <th>Detalhes</th>
                <th>Nome</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="venda : ${vendas}">
                <td th:text="${venda.id}"></td>
                <td th:text="${venda.dataHora}"></td>
                <td th:text="${venda.getTotalFinal()}"></td>
                <td>
                    <a th:href="@{/vendas/{id}(id=${venda.id})}" class="btn btn-primary">Detalhes</a>
                </td>
                <td th:text="${venda.getPessoa().nome}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</main>

</body>
</html>
