<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}">
    <title>Lista de Produtos</title>

</head>
<body>
<main class="conteiner">
    <div class="container">
        <h3>Lista de Compras do Sistema</h3>
        <table class="table" border="1" style="border-collapse: collapse">
            <thead>

            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Data</th>
                <th class="text-center">ValorTotal</th>
                <th class="text-center">detalhes</th>
                <th class="text-center">nome</th>
            </tr>
            </thead>
            <tr th:each="venda : ${vendas}">
                <td th:text="${venda.id}" class="text-center"> </td>
                <td th:text="${venda.dataHora}" class="text-center"> </td>
                <td th:text="${venda.getTotalFinal()}" class="text-center"> </td>
                <td class="text-center"><a th:href="@{/vendas/{id}(id=${venda.id})}" class="btn btn-primary">detalhes</a></td>
                <td th:text="${venda.getPessoa().nome}" class="text-center"> </td>
            </tr>

        </table>

    </div>
</main>
</body>
</html>
