<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}">
    <title>Lista de Produtos</title>

</head>
<body>
<main class="conteiner">
    <div class="container">
            <h3>Minha compra</h3>
            <table class="table" border="1" style="border-collapse: collapse">
                <thead>

                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Data</th>
                    <th class="text-center">ValorTotal</th>
                    <th class="text-center">Nome</th>
                </tr>
                </thead>
                <tr>
                    <td th:text="${venda.id}" class="text-center"> </td>
                    <td th:text="${venda.dataHora}" class="text-center"> </td>
                    <td th:text="${venda.getTotalFinal()}" class="text-center"> </td>
                    <td th:text="${venda.getPessoa().getNome()}" class="text-center"> </td>

                </tr>

            </table>

            <br>
            <br>
            <hr>
            <br>


            <h3>Meu carrinho</h3>
        <table class="table" border="1" style="border-collapse: collapse">
            <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Descrição</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Quantidade</th>
                <th class="text-center">ValorTotal</th>

            </tr>
            </thead>
            <tr th:each="item : ${venda.getItemVendas()}" class="text-center">
                <td th:text="${item.id}" class="text-center"> </td>
                <td th:text="${item.produto.descricao}" class="text-center"> </td>
                <td th:text="${item.produto.valor}" class="text-center"> </td>
                <td th:text="${item.quantidade}" class="text-center"> </td>
                <td th:text="${item.total}" class="text-center"> </td>

            </tr>

        </table>


    </div>
</main>
</body>
</html>
