<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}">
    <title>Inserir de Produtos ao carrinho</title>

</head>
<body>
<main class="conteiner">
    <div class="container">
        <h3 class="text-center">ÁREA DE COMPRA</h3>


        <table class="table" border="1" style="border-collapse: collapse">
            <thead>
            <tr>
                <th class="text-center">Produto</th>
                <th class="text-center">Total</th>
                <th class="text-center">Ação</th>

            </tr>
            </thead>
            <tr th:each="itensVendas : ${produtos}">
                <td th:text="${itensVendas.getDescricao()}" class="text-center"> </td>
                <td th:text="${itensVendas.getValor()}" class="text-center"> </td>
                <td>
                    <div class="text-center">
                        <button class="btn btn-primary"><a href="/produtos/form" style="text-decoration: none; color: #ffffff" >Adicionar Produto</a></button>
                    </div>
                </td>
            </tr>

        </table>


    </div>
</main>
</body>
</html>
