<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Área de Compra</title>

</head>
<body>
<main class="conteiner">
    <div class="container">
        <h3 class="text-center">ÁREA DE COMPRA</h3>
            
            <table class="table" border="1" style="border-collapse: collapse">
                <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Descrição</th>
                    <th class="text-center">Valor</th>
                    <th colspan="2" class="text-center">Ações</th>
                </tr>
                </thead>
                <tr th:each="produto : ${produtos}">
                    <td th:text="${produto.id}" class="text-center"> </td>
                    <td th:text="${produto.descricao}" class="text-center"> </td>
                    <td th:text="${produto.valor}" class="text-center"> </td>
                    <td class="text-center"><a th:href="@{/vendas/produto/add/{id}(id=${produto.id})}" class="btn btn-primary bg-success border border-success">Adicionar</a></td>
                </tr>
            </table>


    </div>
</main>
</body>
</html>
