<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">

    <title>Produtos</title>

</head>

<body>
<main class="conteiner">
    <div class="container">
    <h1>Cadastro de Produtos</h1>

        <form class="container" th:action="${produto.id == null} ? @{/produtos/save} : @{/produtos/update}" th:object="${produto}"
            method="post">

            <div class="mb-3 ">
                <input type="hidden" th:field="*{id}">
            </div>

            <div class="mb-3">
                <label for="ipuntDescricao" class="form-label">Descricao</label>
                <input class="form-control" id="ipuntDescricao" type="text" th:field="*{descricao}" th:errorclass="is-invalid" placeholder="Ex: Notebook" required>
                <label class="invalid-feedback" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></label>
            </div>

            <div class="mb-3">
                <label for="ipuntvaloralor" class="form-label">Valor</label>
                <input class="form-control" id="ipuntvaloralor" type="text" th:field="*{valor}" th:errorclass="is-invalid" placeholder="Ex: 2000.00" required>
                <label class="invalid-feedback" th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></label>
            </div>

            <div class="mb-3">
                <input class="button" type="submit" value="Enviar">
            </div>
        </form>
    </div>
    </main>
    </body>

    </html>