<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Lista de Produtos - (ADMIN)</title>

</head>
<body>
<main class="container mt-5">
    <div class="container">
        <h3 class="text-center mb-4">Lista de Produtos</h3>

        <form th:action="@{/produtos/buscar-produto}" method="post" class="row g-3 mb-4" role="search">
            <div class="col-md-10">
                <input class="form-control" th:name="nomebusca" type="search" placeholder="Buscar produtos..." aria-label="Search">
            </div>
            <div class="col-md-2 d-grid">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </div>
        </form>

        <table class="table table-bordered table-hover text-center">
            <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th colspan="2">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.descricao}"></td>
                <td th:text="${produto.valor}"></td>
                <td>
                    <a th:href="@{/produtos/edit/{id}(id=${produto.id})}" class="btn btn-primary">Editar</a>
                </td>
                <td>
                    <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                       th:href="@{/produtos/remove/{id}(id=${produto.id})}" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center mt-4">
            <a href="/produtos/form" class="btn btn-success">Adicionar Produto</a>
        </div>

    </div>
</main>

</body>
</html>
