<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}">
    <title>Lista de Produtos</title>

</head>
<body>
<main class="conteiner">
    <div class="container">
        <h3>Lista de Produtos</h3>

        <form th:action="@{/produtos/buscar}" method="post" class="d-flex" role="search">
            <input class="form-control me-2" th:name="nomebusca" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <table class="table" border="1" style="border-collapse: collapse">
            <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Descrição</th>
                <th class="text-center">Valor</th>
                <th colspan="2" class="text-center">Ações</th>
            </tr>
            </thead>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}" class="text-center"> </td>
                <td th:text="${produto.descricao}" class="text-center"> </td>
                <td th:text="${produto.valor}" class="text-center"> </td>

                <td class="text-center"><a th:href="@{/produtos/edit/{id}(id=${produto.id})}" class="btn btn-primary">Editar</a></td>
                <td class="text-center"> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                        th:href="@{/produtos/remove/{id}(id=${produto.id})}" class="btn btn-primary" >Excluir</a> </td>
            </tr>

        </table>
            <div class="div-button">
                <button class="btn btn-primary"><a href="/produtos/form" style="text-decoration: none; color:#ffffff;border: none;">Adicionar Produto</a></button>
            </div>

        </div>
</main>
</body>
</html>
